$color_1: #333;
$border-color_1: #86b7fe;

.form-select {
	border-radius: 0.25rem;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&:focus {
		border-color: $border-color_1;
		box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
	}
}
.form-label {
	font-weight: 600;
	color: $color_1;
}
